body{
  width: 960px;
  margin: 20px auto; 
}
h1{
  color: #777777;
  border-bottom: 1px solid #777777;
}
h2{
  color: #aa0000;
  border-bottom: 1px dashed #aa0000;
}
hr{
  clear: both;
}
.navlinks{
  background-color: #000000;
  color: #ffffff;
  display: block;
  float: left;
  margin: 20px;
  padding: 20px;
  text-decoration: none;
}
.imagegallery{
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: row;
}
.image1, .image2, .image3, .image4{
  margin: 10px;
  padding: 10px;
}
.main{
  float: left;
  max-width: 70%;
}
.sidebar{
  background-color: #e7e7e7;
  float: right;
  width: 20%;
}
.footer{
  border-top: 1px solid #000000;
  clear: both;
  padding: 10px;
}
.image-list2{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.image-list2 li{
  float: left;
  padding: 10px;
  margin: 10px;
}
.img{
  height: 100px;
  width: 100px;
}
.image-list2 h4{
  text-align: center;
}